In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("Price_Agriculture_commodities_Week.csv")

In [3]:
data.head()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
0,Gujarat,Amreli,Damnagar,Bhindi(Ladies Finger),Bhindi,FAQ,27-07-2023,4100.0,4500.0,4350.0
1,Gujarat,Amreli,Damnagar,Brinjal,Other,FAQ,27-07-2023,2200.0,3000.0,2450.0
2,Gujarat,Amreli,Damnagar,Cabbage,Cabbage,FAQ,27-07-2023,2350.0,3000.0,2700.0
3,Gujarat,Amreli,Damnagar,Cauliflower,Cauliflower,FAQ,27-07-2023,7000.0,7500.0,7250.0
4,Gujarat,Amreli,Damnagar,Coriander(Leaves),Coriander,FAQ,27-07-2023,8400.0,9000.0,8850.0

In [4]:
data.tail()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
23088,Uttrakhand,Haridwar,Roorkee,Mango,Other,Medium,02-08-2023,800.0,1200.0,1000.0
23089,Uttrakhand,Haridwar,Roorkee,Mousambi(Sweet Lime),Other,Medium,02-08-2023,1500.0,2500.0,2000.0
23090,Uttrakhand,Haridwar,Roorkee,Pear(Marasebu),Other,Medium,02-08-2023,2000.0,3000.0,2500.0
23091,Uttrakhand,Haridwar,Roorkee,Potato,Other,FAQ,02-08-2023,900.0,1800.0,1500.0
23092,Uttrakhand,Haridwar,Roorkee,Pumpkin,Other,FAQ,02-08-2023,500.0,700.0,600.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23093 entries, 0 to 23092
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         23093 non-null  object
 1   District      23093 non-null  object
 2   Market        23093 non-null  object
 3   Commodity     23093 non-null  object
 4   Variety       23093 non-null  object
 5   Grade         23093 non-null  object
 6   Arrival_Date  23093 non-null  object
 7   Min Price     23093 non-null  float64
 8   Max Price     23093 non-null  float64
 9   Modal Price   23093 non-null  float64
dtypes: float64(3), object(7)
memory usage: 1.8+ MB

In [6]:
data.describe()

           Min Price      Max Price    Modal Price
count   23093.000000   23093.000000   23093.000000
mean     4187.077045    4976.034260    4602.917742
std      5472.783385    6277.308057    5843.822711
min         0.000000       0.000000       0.830000
25%      1750.000000    2000.000000    1955.000000
50%      2725.000000    3400.000000    3000.000000
75%      5000.000000    6000.000000    5500.000000
max    223500.000000  227500.000000  225500.000000

In [7]:
data.isnull().sum()

State           0
District        0
Market          0
Commodity       0
Variety         0
Grade           0
Arrival_Date    0
Min Price       0
Max Price       0
Modal Price     0
dtype: int64

In [8]:
data.rename(columns=lambda x:x.strip(),inplace=True)

In [9]:
data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
0,Gujarat,Amreli,Damnagar,Bhindi(Ladies Finger),Bhindi,FAQ,27-07-2023,4100.0,4500.0,4350.0
1,Gujarat,Amreli,Damnagar,Brinjal,Other,FAQ,27-07-2023,2200.0,3000.0,2450.0
2,Gujarat,Amreli,Damnagar,Cabbage,Cabbage,FAQ,27-07-2023,2350.0,3000.0,2700.0
3,Gujarat,Amreli,Damnagar,Cauliflower,Cauliflower,FAQ,27-07-2023,7000.0,7500.0,7250.0
4,Gujarat,Amreli,Damnagar,Coriander(Leaves),Coriander,FAQ,27-07-2023,8400.0,9000.0,8850.0
...,...,...,...,...,...,...,...,...,...,...
23088,Uttrakhand,Haridwar,Roorkee,Mango,Other,Medium,02-08-2023,800.0,1200.0,1000.0
23089,Uttrakhand,Haridwar,Roorkee,Mousambi(Sweet Lime),Other,Medium,02-08-2023,1500.0,2500.0,2000.0
23090,Uttrakhand,Haridwar,Roorkee,Pear(Marasebu),Other,Medium,02-08-2023,2000.0,3000.0,2500.0
23091,Uttrakhand,Haridwar,Roorkee,Potato,Other,FAQ,02-08-2023,900.0,1800.0,1500.0
23092,Uttrakhand,Haridwar,Roorkee,Pumpkin,Other,FAQ,02-08-2023,500.0,700.0,600.0

In [10]:
data['Arrival_Date']=pd.to_datetime(data['Arrival_Date'],errors='coerce',dayfirst=True)

In [11]:
data=data.sort_values(by=['Market','Commodity','Arrival_Date'])

In [12]:
data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
7278,Madhya Pradesh,Ratlam,A lot,Soyabean,Yellow,FAQ,2023-07-29,4904.0,5111.0,4993.0
7279,Madhya Pradesh,Ratlam,A lot,Wheat,Medium,FAQ,2023-07-29,2256.0,2333.0,2290.0
271,Chattisgarh,Raipur,Abhanpur,Paddy(Dhan)(Common),I.R.-64,FAQ,2023-07-28,2100.0,2100.0,2100.0
14719,Chattisgarh,Raipur,Abhanpur,Paddy(Dhan)(Common),1001,FAQ,2023-08-01,1900.0,1900.0,1900.0
18955,Punjab,Fazilka,Abohar,Apple,Apple,Medium,2023-08-01,11120.0,17580.0,13500.0
...,...,...,...,...,...,...,...,...,...,...
15506,Haryana,Sirsa,kalanwali,Onion,Other,FAQ,2023-08-01,1200.0,1200.0,1200.0
1075,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-28,800.0,1000.0,1000.0
6371,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-29,1000.0,1000.0,1000.0
15507,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-08-01,1000.0,1000.0,1000.0
15508,Haryana,Sirsa,kalanwali,Tomato,Other,FAQ,2023-08-01,6000.0,6000.0,6000.0

In [13]:
data['ModalPrice_PctChange'] = data.groupby(['Market', 'Commodity'])['Modal Price'].pct_change() * 100

In [14]:
data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price,ModalPrice_PctChange
7278,Madhya Pradesh,Ratlam,A lot,Soyabean,Yellow,FAQ,2023-07-29,4904.0,5111.0,4993.0,NaN
7279,Madhya Pradesh,Ratlam,A lot,Wheat,Medium,FAQ,2023-07-29,2256.0,2333.0,2290.0,NaN
271,Chattisgarh,Raipur,Abhanpur,Paddy(Dhan)(Common),I.R.-64,FAQ,2023-07-28,2100.0,2100.0,2100.0,NaN
14719,Chattisgarh,Raipur,Abhanpur,Paddy(Dhan)(Common),1001,FAQ,2023-08-01,1900.0,1900.0,1900.0,-9.52381
18955,Punjab,Fazilka,Abohar,Apple,Apple,Medium,2023-08-01,11120.0,17580.0,13500.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15506,Haryana,Sirsa,kalanwali,Onion,Other,FAQ,2023-08-01,1200.0,1200.0,1200.0,0.00000
1075,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-28,800.0,1000.0,1000.0,NaN
6371,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-29,1000.0,1000.0,1000.0,0.00000
15507,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-08-01,1000.0,1000.0,1000.0,0.00000
15508,Haryana,Sirsa,kalanwali,Tomato,Other,FAQ,2023-08-01,6000.0,6000.0,6000.0,NaN

In [15]:
data.tail()

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price,ModalPrice_PctChange
15506,Haryana,Sirsa,kalanwali,Onion,Other,FAQ,2023-08-01,1200.0,1200.0,1200.0,0.0
1075,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-28,800.0,1000.0,1000.0,NaN
6371,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-29,1000.0,1000.0,1000.0,0.0
15507,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-08-01,1000.0,1000.0,1000.0,0.0
15508,Haryana,Sirsa,kalanwali,Tomato,Other,FAQ,2023-08-01,6000.0,6000.0,6000.0,NaN

In [16]:
data = data.dropna(subset=['ModalPrice_PctChange'])

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11273 entries, 14719 to 15507
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 11273 non-null  object
 1   District              11273 non-null  object
 2   Market                11273 non-null  object
 3   Commodity             11273 non-null  object
 4   Variety               11273 non-null  object
 5   Grade                 11273 non-null  object
 6   Arrival_Date          11273 non-null  datetime64[ns]
 7   Min Price             11273 non-null  float64
 8   Max Price             11273 non-null  float64
 9   Modal Price           11273 non-null  float64
 10  ModalPrice_PctChange  11273 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 1.0+ MB

In [18]:
data.describe()

,Arrival_Date,Min Price,Max Price,Modal Price,ModalPrice_PctChange
count,11273,11273.000000,11273.000000,11273.000000,11273.000000
mean,2023-07-31 02:38:54.427393024,4182.393418,4954.477557,4594.376297,2.649017
min,2023-07-27 00:00:00,0.000000,0.000000,2.000000,-91.836735
25%,2023-07-31 00:00:00,1700.000000,2000.000000,1900.000000,-2.083333
50%,2023-07-31 00:00:00,2720.000000,3400.000000,3000.000000,0.000000
75%,2023-08-01 00:00:00,5000.000000,6000.000000,5500.000000,1.605505
max,2023-08-02 00:00:00,140000.000000,150000.000000,150000.000000,1400.000000
std,NaN,5208.658979,5973.530252,5599.202560,32.514999

In [19]:
data = data[data['Modal Price'] > 0]

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11273 entries, 14719 to 15507
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 11273 non-null  object
 1   District              11273 non-null  object
 2   Market                11273 non-null  object
 3   Commodity             11273 non-null  object
 4   Variety               11273 non-null  object
 5   Grade                 11273 non-null  object
 6   Arrival_Date          11273 non-null  datetime64[ns]
 7   Min Price             11273 non-null  float64
 8   Max Price             11273 non-null  float64
 9   Modal Price           11273 non-null  float64
 10  ModalPrice_PctChange  11273 non-null  float64
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 1.0+ MB

In [21]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
data['scaled_ModalPrice_PctChange']=scaler.fit_transform(data[['ModalPrice_PctChange']])

In [22]:
data

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price,ModalPrice_PctChange,scaled_ModalPrice_PctChange
14719,Chattisgarh,Raipur,Abhanpur,Paddy(Dhan)(Common),1001,FAQ,2023-08-01,1900.0,1900.0,1900.0,-9.523810,-0.374392
13066,Uttar Pradesh,Auraiya,Achalda,Apple,Delicious,Medium,2023-07-31,9700.0,9900.0,9800.0,0.000000,-0.081474
20362,Uttar Pradesh,Auraiya,Achalda,Apple,Delicious,Medium,2023-08-01,9700.0,9900.0,9800.0,0.000000,-0.081474
13067,Uttar Pradesh,Auraiya,Achalda,Arhar Dal(Tur Dal),Arhar Dal(Tur),FAQ,2023-07-31,12900.0,13100.0,13000.0,0.000000,-0.081474
20363,Uttar Pradesh,Auraiya,Achalda,Arhar Dal(Tur Dal),Arhar Dal(Tur),FAQ,2023-08-01,12800.0,13000.0,12900.0,-0.769231,-0.105133
...,...,...,...,...,...,...,...,...,...,...,...,...
16233,Karnataka,Karwar(Uttar Kannad),Yellapur,Arecanut(Betelnut/Supari),Tattibettee,FAQ,2023-08-01,38725.0,47666.0,44899.0,-14.313250,-0.521698
6370,Haryana,Sirsa,kalanwali,Onion,Other,FAQ,2023-07-29,1200.0,1200.0,1200.0,0.000000,-0.081474
15506,Haryana,Sirsa,kalanwali,Onion,Other,FAQ,2023-08-01,1200.0,1200.0,1200.0,0.000000,-0.081474
6371,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-07-29,1000.0,1000.0,1000.0,0.000000,-0.081474
15507,Haryana,Sirsa,kalanwali,Potato,Other,FAQ,2023-08-01,1000.0,1000.0,1000.0,0.000000,-0.081474

In [23]:
from sklearn.ensemble import IsolationForest

X = data[['scaled_ModalPrice_PctChange']]
model = IsolationForest(contamination=0.05, random_state=42)
data['Anomaly'] = model.fit_predict(X)
data['Anomaly'] = data['Anomaly'].map({1: "Normal", -1: "Anomaly"})